<header class="title">
	<h2>Les associations étudiantes à l'ENS de Lyon</h2>
</header>
<section class="text">
	<article class="image-left">
		<img src="">
		<div class="inner-content">
			<h4><a href="http://www.aliens-lyon.fr/">AliENS</a></h4>
			<p>Envie de découvrir des choses en informatique ? Tu ne sais pas quel modèle de laptop acheter ? L'Association pour la Libre Informatique à l'ENS de Lyon est là pour t'aider ! Ateliers, initiations, documentation, Install Party… AliENS peut également subventionner ton achat d'ordinateur.</p>
		</div>
	</article>

	<article class="image-left">
		<img src="images/logos/AE.jpg">
		<div class="inner-content">
			<h4><a href="http://www.lyon-normalesup.org/">Association des Anciens Élèves</a></h4>
			<p>Une hésitation sur ton avenir ? Un projet original à financer ? Un stage à trouver ? Les Anciens sont là pour t'apporter leur réseau, leur expérience et leur soutien financier. Viens nous rencontrer sur la chaîne de rentrée, et lors de nos manifestations tout au long de l'année !</p>
		</div>
	</article>


	<article class="image-left">
		<img src="images/logos/AS.jpg">
		<div class="inner-content">
			<h4><a href="http://as.ens-lyon.fr">AS <small>// Association Sportive</small></a></h4>
			<p>L'AS est l'association incontournable pour faire du sport à l'ENS. L'accès libre aux installations sportives, les sorties de plein-air telles que la semaine ski, le sport universitaire à l'école… Tout est géré par notre équipe, alors, viens adhérer à l'AS !</p>
		</div>
	</article>

	<article class="image-left">
		<img src="images/logos/ASSET.jpg">
		<div class="inner-content">
			<h4><a href="http://asset.ens-lyon.fr">ASSET</a></h4>
			<p>L'Association des étudiants internationaux de l'ENS de Lyon (ASSET), s'occupe de l'accueil des étudiants internationaux parrainés par les élèves de l'ENS, et organise plusieurs manifestations qui sont autant d'occasions de rencontres et d’échanges inoubliables (banquet international, soirée Tandem, soirée Melting Pot, soirée du cinéma étranger, journée découverte...).
			</p>
		</div>
	</article>

	<article class="image-left">
		<img src="images/logos/BDE.png">
		<div class="inner-content">
			<h4><a href="http://bde.ens-lyon.fr/">BDE <small>// Bureau des Élèves</small></a></h4>
			<p>Tu comptes venir t'éclater au WEI, faire partie d'un des nombreux clubs de l'école (rock, BD, escrime artistique, club'ouf…) ou en créer un, ou participer aux nombreuses soirées et événements qui auront lieu tout en bénéficiant de tarifs avantageux ? Bref tu as envie de vivre une année animée et pleine de rencontres ? Alors deviens adhérent BDE dès maintenant.</p>
		</div>
	</article>

	<article class="image-left">
		<img src="images/logos/champ_libre.jpg">
		<div class="inner-content">
			<h4><a href="http://champlibre.e-monsite.com/">Champ Libre</a></h4>
			<p>Champ Libre est l'association réunissant les cinéphiles de l'ENS. À la fois ciné-club et société de production, Champ Libre organise des soirées de projections, des séances de tournage de courts-métrages et produit des courts-métrages d'étudiants... Elle n'attend plus que toi !</p>
		</div>
	</article>

	<article class="image-left">
		<img src="images/logos/choeur.gif">
		<div class="inner-content">
			<h4><a href="http://www.ens-lyon.fr/asso/chorale/">Chœur</a></h4>
			<p>Le Choeur de l'ENS de Lyon réunit chaque année une centaine de personnes autour de l'amour du chant choral et de l'organisation de deux séries de concerts. Si tu hésites, ne rate surtout par notre WEI choral, les 5 et 6 octobre 2013. Pas besoin d'être un pro du solfège pour se faire plaisir en chantant !</p>
		</div>
	</article>

	<article class="image-left">
		<img src="images/logos/conferens.png">
		<div class="inner-content">
			<h4>ConférENS</h4>
			<p>Le but de ConférENS est d'organiser des débats, colloques ou conférences à l'ENS. Il peut s'agir de projets nés à l'intérieur de l'association ou proposés par toute personne de l'École. Des événements plus originaux comme des projections de films ou des initiatives étudiantes sont aussi au programme ! Les conférences sont ouvertes à tous et gratuites.</p>
		</div>
	</article>

	<article class="image-left">
		<img src="images/logos/ENplaStik.png">
		<div class="inner-content">
			<h4><a href="http://enplastik.ens-lyon.fr/">ENplaStik!</a></h4>
			<p>ENplaStik! propose du temps et de l'espace pour la pratique et l'exposition des arts plastiques et veille à donner à l'histoire de l'art la place qu'elle mérite à l'ENS. ENplaStik! gère un labo photo et un atelier d'arts plastiques, « l'artelier », où tu pourras venir pratiquer la photographie, le dessin ou la sculpture, et propose également des sorties : visites d'ateliers d'artistes, d'expositions, de hauts lieux de l'art contemporain. N'hésite pas à participer à la vie des arts !</p>
		</div>
	</article>

	<article class="image-left">
		<img src="images/logos/enscene.png">
		<div class="inner-content">
			<h4><a href="http://www.enscene.org">ENScène!</a></h4>
			<p>L'association des arts de la scène : théâtre, musique et danse ! Que tu sois acteur, musicien, ou metteur en scène, nous sommes là pour te permettre de réaliser tes projets. Et si tu te sens plutôt spectateur, nous organisons chaque mois des spectacles (théâtre, soirées-concerts...) pour lesquels nos adhérents bénéficient de tarifs préférentiels.</p>
		</div>
	</article>

	<article class="image-left">
		<img src="images/logos/ENSeguida.jpg">
		<div class="inner-content">
			<h4>ENSeguida <small>// ENSeguida / EMSSeguida</small></h4>
			<p>Cette récente association s'adresse à tous ceux qui veulent découvrir ou étudier l'Amérique latine. La rejoindre c'est profiter de son réseau de contacts, organiser des événements culturels et être au courant de l'actualité latino-américaniste à Lyon et ailleurs ! Que tu sois voyageur, futur spécialiste ou simple curieux, tu seras le bienvenu ! On se voit tout de suite ! / ¡Nos vemos ENSeguida! / Nós vemos EMSeguida!</p>
		</div>
	</article>

	<article class="image-left">
		<img src="">
		<div class="inner-content">
			<h4><a href="http://enthese.ens-lyon.fr">ENthèSe</a></h4>
			<p>ENthèSe est une association de doctorants dont l'objectif est de fédérer les doctorants, de partager des conseils et vécus de la thèse. A cette fin, l’association organise des séminaires mensuels sur des questions pratiques et méthodologiques. Pluridisciplinaire, l’association est ouverte tant aux Lettres et Sciences Humaines qu'aux Sciences dures et fait le lien entre  doctorants et anciens élèves de l'ENS.</p>
		</div>
	</article>

	<article class="image-left">
		<img src="images/logos/enseigner.png">
		<div class="inner-content">
			<h4><a href="http://enseigner.ens-lyon.fr/">ENSeigner</a></h4>
		</div>
	</article>

	<article class="image-left">
		<img src="">
		<div class="inner-content">
			<h4><a href="http://www.ens-lyon.fr/asso/orchestre/">Orchestre <small>// Orchestre des Grandes Écoles</small></a></h4>
			<p>L'orchestre symphonique regroupe des musiciens venant des grandes écoles de Lyon sous la direction d'un chef étudiant au CNSMD de Paris pour jouer des oeuvres du répertoire classique allant de Haydn à Ives, en passant par Dvorak, Beethoven, Schubert... et tout ceux que tu as toujours rêvé de jouer un jour !</p>
		</div>
	</article>

	<article class="image-left">
		<img src="">
		<div class="inner-content">
			<h4><a href="http://www.ens-lyon.org">Point d'Orgue</a></h4>
			<p>Point d'orgue offre à tous les étudiants de l'école une adresse mail permanente en prenom.nom@ens-lyon.org afin de faciliter le contact entre les personnes ayant hanté l'ENS de Lyon.</p>
		</div>
	</article>

	<article class="image-left">
		<img src="images/logos/trensistor.png">
		<div class="inner-content">
			<h4><a href="http://trensistor.ens-lyon.fr">trENSistor</a></h4>
			<p>La webradio Trensistor est le média radio des étudiants de l’ENS de Lyon. Grâce à un studio d’enregistrement professionnel et des rencontres régulières entre nous, tout est possible à Trensistor. L'équipe évolue chaque année pour proposer des émissions politiques, d'actualité, de création ou d'étranges inclassables selon les envies des membres. Viens apporter votre voix, tes idées et ta bonne humeur !</p>
		</div>
	</article>
</section>