<form id="cse-form" class="inline-labels">
    <fieldset data-fields="nom,prenom,email"></fieldset>

    <fieldset data-fields="status,annee_entree"></fieldset>

    <fieldset data-fields="boursier,boursier_montant"></fieldset>
    <fieldset data-fields="logement_gracieux,logement_montant"></fieldset>
    <fieldset data-fields="apl,apl_montant"></fieldset>
    <fieldset data-fields="financement_famille,financement_famille_montant"></fieldset>
    <fieldset data-fields="financement_autre,financement_autre_source,financement_autre_montant"></fieldset>

    <p>Veuillez donner le plus d'informations complémentaires possibles à votre dossier, les commentaires nous sont toujours très utiles. Un dossier dont les entrées d'argents sont inférieures aux dépenses sans aucune justification financière dans les commentaires (prêt de banque, économies des années précédentes, aide extérieure, etc.) ne sera pas pris en compte.</p>
    <fieldset data-fields="commentaires"></fieldset>

    <input type="submit" value="Envoyer la demande">
</form>