<header class="title">
	<h2>La Caisse de Solidarité Étudiante</h2> <a class="button" href="#cse/demande">Demander une subvention</a>
</header>
<section>
	<p>Récemment créée à la Fédération des associations, la Caisse de Solidarité Étudiante (CSE) se propose de financer la participation aux événements importants de la vie associative de l'ENS de Lyon (WEI, Inter-ENS, Gala, etc.) aux étudiants dont les moyens financiers ne leur permet pas. La CSE fonctionne comme une mutuelle, c'est-à-dire que chacun y participe via un don et les fonds ainsi récoltés seront finalement redistribués aux personnes qui en ont besoin. Le choix des personnes éligibles à l'aide financière proposée par la CSE sera faite par l'analyse de dossiers anonymes par les responsables de la CSE. Cette aide financière est disponible à tous et nous ferons tout notre possible pour aider le maximum d'étudiants à participer à la vie associative.
	</p>

	<h3>Appel aux dons</h3>

	<p>Cependant, pour cela nous avons besoin de vos dons ! Vous êtes intéressé ? Alors faites un don afin que nous puissions prochainement financer le WEI des étudiants qui ne peuvent se le permettre ! Vous pouvez nous faire un don de plusieurs manières :</p>

	<ul>
		<li>par <em>virement bancaire</em> à l'intention de la Fédération des associations de l'ENS de Lyon (RIB). Vous pouvez demander ce RIB à <i>baptiste.demoulin (at) ens-lyon.fr</i> ;</li>
		<li>par <em>chèque</em>, à l'intention de Fédération des associations de l'ENS de Lyon à l'adresse suivante : br /15 parvis René Descartes, BP Fédération des associations.</li>
	</ul>

	<p>Vous pouvez vous référer au <a href="http://federation.ens-lyon.fr/cse/reglement_interieur_de_la_cse.pdf">règlement intérieur</a> de la CSE pour plus de précisions.</p>
</section>