<header class="title">
	<h2>18 événements marquants à l'ENS cette année </h2>
</header>
<section class="text">
	<p>Des événements à l’ENS de Lyon, il y en a des milliers, mais certains sortent un peu du lot commun. Rendez-vous de toute l’école ou entre écoles, ce sont des temps forts de la vie étudiante qui resteront à jamais gravés dans ta mémoire, si tu ne l’as pas perdue. À ne manquer sous aucun prétexte !</p>

	<article>
	<h4>WEI <small>// début septembre</small></h4>
	<p>Imagine plus de 400 personnes, dont une bonne partie sortant de deux – voire même trois – années de prépa réunies dans un lieu de rêve pour un week-end où TOUT (ou presque) est permis ! Au programme des festivités un voyage inoubliable dans un bus animé par une équipe de choc, des repas dans une ambiance jamais vue, des jeux et des activités sportives spécialement préparées par l’AS et bien sûr des soirées de folie où tu pourras chanter/danser/choper [rayer les mentions inutiles] et surtout t’éclater !</p>
	</article>

	<article>
	<h4>Cithémuses <small>// fin septembre</small></h4>
	<p>À chaque début d’année, pendant presque deux semaines, ENScène invite de jeunes créateurs de la région ou d’ailleurs à venir secouer l’ENS à travers son festival Cithémuses ! Ici il n’est plus question de création amateur, on met les petits plats dans les grands ! Du théâtre, des concerts, de la danse, de la poésie… Cette fois, c’est du pro ! Chaque édition te réserve son lot de surprises et de découvertes surprenantes ; sois curieux, qui sait quel genre de rencontre on peut faire autour d’un spectacle ? IYKWIM.</p>
	</article>

	<article>
	<h4>Interdeps <small>// octobre</small></h4>
	<p>Les Interdeps, c’est réconcilier les lettreux avec les scienteux pour monter les bios contre les socios. Les Interdeps c’est avoir un aperçu de l’associatif. Parce qu’aller aux soirées c’est bien, mais les organiser c’est mieux. Oh wait. Les Interdeps, c’est faire des crêpes, des massages et des collages en post-it.</p>
	<p>les Interdépartementales partagent l’ENS en trois équipes qui mélangent scientifiques et littéraires. Pendant trois semaines, il faut organiser une soirée, faire un club’ ouf, gagner les épreuves sportives de l’AS, écrire une tartine, et comme si ça ne suffisait pas, faire tout ce qui animera l’école – une œuvre d’art, des allô-cookies, des jeux, des flyers… – et surtout tout ce qui fera plaisir au BDE… qui décidera de la meilleure équipe ! Alors retrousse-toi les manches (ou profite des efforts de ceux qui le feront), et que les crêpes pleuvent !</p>
	</article>

	<article>
	<h4>Turbul'ENS <small>// début décembre</small></h4>
	<p>En cette fin d’année, l’ENS aime à buller… Turbul’ENS, c’est la bande dessinée à l’honneur à l’ENS pendant une journée, mais aussi des spectacles, des dédicaces, des démonstrations, un ciné-concert, des concerts endiablés… Que tu sois un grand dessinateur ou que ta connaissance de la bande dessinée soit limitée, tu ne seras pas épargné par cette zone de turbul’ENS. Et, qui sait, tu seras peut-être le gagnant du grand concours de dessin de cette année ?</p>
	</article>

	<article>
	<h4>Bal de Noël <small>// fin décembre</small></h4>
	<p>À l’approche des fêtes, l’ENS redécouvre les folies de Noël. Sors ta robe de soirée ou ton costume du placard pour briller de mille feux au repas savoureux auquel tu es convié. Champagne, foie gras, saumon et autres mets délicats enchanteront ton palais, avant que la soirée du Bal ne t’entraîne jusqu’au bout de la nuit pour célébrer la nouvelle année. Les danseurs évoluent, les coupes tintinnabulent et la magie opère !</p>
	</article>

	<article>
	<h4>Gala <small>// début février</small></h4>
	<p>Les soirées, c’est bien, mais ne trouves-tu pas qu’elles finissent par se ressembler ? Tu brûles d’envie d’avoir une occasion de sortir robe de soirée et smoking ? Le Gala de l’École est là pour toi !</p>
	<p>Au plus froid de l’hiver, le Gala de l’École se charge de te réchauffer ! Cette soirée class’ et originale – autour d’un thème nouveau chaque année – est organisée par une équipe constituée de volontaires surmotivés. Ils te présenteront le grand soir un buffet de qualité (avec champagne s’il vous plaît), des animations allant de concerts de groupes de l’École et de l’extérieur, à la danse contemporaine, en passant par de l’escrime artistique et le traditionnel défilé à ne pas manquer !</p>
	</article>

	<article>
	<h4>InterENS sportives <small>// début février</small></h4>
	<p>Nous partons cette année en terre ulmite afin de combattre pour les InterENS ! Durant deux longues et éprouvantes journées sportives (et deux non moins longues soirées festives) tu pourras te dépasser pour montrer à Ulm, Cachan, Ker Lann, Tunis et Pise que « <em>c’est nous les patrons !</em> ». Que tu veuilles faire des sports individuels sous les vivats de la foule, participer aux tournois par équipe soutenus par nos charmantes pompoms ou plus simplement soutenir avec enthousiasme ton école, tu ne regretteras pas ce fabuleux week-end !</p>
	<p>Cette année comme tous les ans, il nous faut gagner le trophée de l’ambiance – bien entendu –, mais également essayer de remporter le C.U.L (CachanUlm-Lyon) qui nous à échappé l’année dernière. Nous comptons sur toi pour le faire retourner à la place qui est sienne, l’étagère de l’Association Sportive.</p>
	<p>Si le sport n’est pas ton fort, tu peux te concentrer sur des activités plus ésotériques tel que le fameux tournoi off ou juste retrouver tes amis qui ont vendu leurs âmes dans les autres ENS. Ne pas oublier que la finesse et la délicatesse peuvent également être au rendez-vous pour la chorégraphie.</p></article>

	<article>
	<h4>Campagnes BDE <small>// fin janvier</small></h4>
	<p>Après six mois pendant lesquels ton BDE t’en aura fait voir de toutes les couleurs, tu auras sûrement envie de tirer les ficelles toi aussi ! Si tu penses pouvoir animer la vie de l’École, il va falloir le prouver pendant deux semaines d’affichage et de préparation de film de campagne. Tu ne veux pas t’engager ? Les listes bidons abondent, et tu pourras faire partie de la liste pompom ou de la zicliste, créer ta propre liste ou bien rester à regarder le spectacle et à profiter des soirées diverses et variées !</p>
	</article>

	<article>
	<h4>Gala <small>// début février</small></h4>
	<p>…</p>
	</article>

	<article>
	<h4>Carnaval <small>// fin février</small></h4>
	<p>…</p>
	</article>

	<article>
	<h4>Journée de la Radio <small>// fin février</small></h4>
	<p>…</p>
	</article>

	<article>
	<h4>Dérapages <small>// début mars</small></h4>
	<p>…</p>
	</article>

	<article>
	<h4>InterQ <small>// mi mars</small></h4>
	<p>…</p>
	</article>

	<article>
	<h4>Interludes <small>// fin mars</small></h4>
	<p>…</p>
	</article>

	<article>
	<h4>Rencontres alteridées <small>// début avril</small></h4>
	<p>Les Recontres Alter Idées (RAI), c’est une journée de conférences et de débats – organisée par les étudiants de quatre écoles lyonnaises – où étudiants, universitaires, hommes des médias et politiques se rencontrent et échangent leurs idées. Une fois la journée terminée, les RAI se transforment alors en repas, concerts et soirée.</p>

	<p>Chaque année, l’ENS recrute une nouvelle équipe pour participer à l’organisation de cette incroyable journée. Des conférences aux stratégies de com’, de l’organisation de la soirée à la recherche de partenariats, l’association est divisée en pôles de compétence pour permettre à tout ses membres de travailler comme ils le préfèrent. Alter Idées est une aventure tant personnelle que collective, une expérience associative complète et unique. Alors, l’aventure te tente ?</p>
	</article>

	<article>
	<h4>Carte blanche <small>// début mai</small></h4>
	<p>…</p>
	</article>

	<article>
	<h4>Garden-party <small>// mi mai</small></h4>
	<p>…</p>
	</article>

	<article>
	<h4>Festival contre-champ <small>// fin mai</small></h4>
	<p>…</p>
	</article>
</section>