<header class="title">
	<h2>La Fédération des Associations</h2>
</header>
<section>

Le bureau de la Fédération est composé de :

<ul>
	<li>Jérémy FERRAND (président)</li>
	<li>Baptiste DEMOULIN (trésorier)</li>
	<li>Aurélien SCHWOB (secrétaire)</li>

	<li>Éléonore PERES (Caisse de Solidarité Etudiante)</li>
	<li>Céline MARTIN (Pôle Communication)</li>
	<li>Luc ROCHER (Pôle Graphisme) </li>
	<li>Pauline VERLHAC (Pôle Evenementiel)</li>
	<li>Damien REIMERT (Pôle Informatique)</li>
	<li>Amélie GAY (Pôle Juridique)</li>
	<li>Julie LATTAUD (Pôle Logistique)</li>
	<li>Fabien PAQUET (Pôle Partenariat)</li>
</ul>

Vous pouvez nous contacter par courriel à l'adresse <i>federation (à) ens-lyon.fr</i>.

<p>Pour plus d'informations, vous pouvez consulter :
<ul>
	<li>les <a data-bypass href="/pdf/FAENSL_Statuts_2012.pdf">status de l'association</a> ;</li>
	<li>le <a data-bypass href="/pdf/FAENSL_RI_2012.pdf">réglement intérieur</a>.</li>
</ul>
</p>

</section>