// Colors
// --------------------------------------------------

$regular-red: rgb(227, 26, 51);
$dark-red: rgb(157, 36, 40);
$orange-red: rgb(247, 165, 125);
$beige: rgb(251, 217, 208);

$awesome-red: rgb(231, 76, 60);

$grey: rgb(205, 205, 205);
$light-grey: rgb(231, 231, 231);
$medium-grey: rgb(80, 80, 80);
$dark-grey: rgb(60, 60, 60);

$medium-blue: rgb(72, 141, 200);